[defaults]
inventory=hosts
host_key_checking = False
#ask_sudo_pass = True
##ask_pass = True

#[privilege_escalation]
#become=True
#become_method=sudo
#become_user=root
#become_ask_pass=False


#control_path = %(directory)s/%%h-%%r


# uncomment this to disable SSH key host checking
#host_key_checking = False