#log4j.rootLogger=stdout, R

#log4j.appender.stdout=org.apache.log4j.ConsoleAppender
#log4j.appender.stdout.layout=org.apache.log4j.PatternLayout

#log4j.appender.defaultLog=org.apache.log4j.DailyRollingFileAppender
#log4j.appender.defaultLog.DatePattern=.yyyy-MM-dd.HH

# Pattern to output the caller's file name and line number.
#log4j.appender.stdout.layout.ConversionPattern==%d [%t] %-5p %c - %m%n

#log4j.appender.R=org.apache.log4j.RollingFileAppender
#log4j.appender.R=DailyRollingFileAppender
#log4j.appender.R.File=log/coreprocessor.log

#log4j.appender.R.MaxFileSize=1024KB
# Keep one backup file
#log4j.appender.R.MaxBackupIndex=10

#log4j.appender.R.layout=org.apache.log4j.PatternLayout
#log4j.appender.R.layout.ConversionPattern=%d [%t] %-5p %c - %m%n

log.dir=log/
rrd.dir=${log.dir}/rrd
datestamp=yyyy-MM-dd/HH:mm:ss.SSS/zzz
roll.pattern.hourly=.yyyy-MM-dd.HH
roll.pattern.daily=.yyyy-MM-dd

# catchAll.log -- Default catch-all.
log4j.rootLogger=DEBUG, defaultLog
log4j.appender.defaultLog=org.apache.log4j.DailyRollingFileAppender
log4j.appender.defaultLog.DatePattern=${roll.pattern.daily}
log4j.appender.defaultLog.File=${log.dir}/tmcsystem.log
log4j.appender.defaultLog.layout=org.apache.log4j.PatternLayout
log4j.appender.defaultLog.layout.ConversionPattern=%d{${datestamp}} [%t] %-5p %m%n


